# Python virtual environment
.venv/

# Python cache
__pycache__/
*.pyc

# Environment variables
.env

# VS Code
.vscode/
# Python
__pycache__/
*.py[cod]
.venv/

# Environment variables
.env

# Datasets
datasets/raw/*
datasets/processed/*

# Generated media
*.mp3
*.mp4
*.wav
*.m4a
